/* @media only screen and (max-width: 767px) { */
    /* phones */

    html {
        background-color: hsl(180, 100%, 94%);
        background-repeat: no-repeat;
        background-size: 100%;
        font-family: "Ubuntu", "Open Sans", Verdana, "Geneva", Tahoma, sans-serif;
    }

.mainhtml{
    background: url("../image/scenic-view-of-mountain-during-daytime-1482927.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.new{
    background: linear-gradient(to bottom right, rgba(164, 238, 222, 0.5), rgba(82, 184, 179, 0.5) );
}

.about{
    background: linear-gradient(to bottom right, rgba(164, 238, 222, 0.5), rgba(82, 184, 179, 0.5) );
}

.sandc{
    background: linear-gradient(to bottom right, rgba(164, 238, 222, 0.5), rgba(82, 184, 179, 0.5) );
}

header{
    max-width: 600px;
    margin: 0 auto;
}

.About{
    text-align: center;
    max-width: 600px;
    margin: 120px auto 64px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
}
h2 {
    text-align: justify;
    
}
h3{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

h4{
    color: rgb(61, 61, 170);
    font-weight: bold;
    /* text-align: left; */
    /* font-style: oblique; */
    font-size: 17px;
}
.date{
    font-size: 13px;
    padding-top: 10px;
    text-align: left;
}
h6{
    font-size: 15px;
    font-weight: bold;
    color: rgb(61, 61, 170);
}

.heading{
    display: flexbox;
    background: rgba(82, 184, 179, 0.8);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
/* 
.leftCol{
    float:left;
    width:20%;
}
.rightCol{
    float:left;
    width:70%;
} */
.job{
    margin: 3%;
    margin-bottom: 8%;
    padding: 5%;
}
ul{
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.paragraph {
    /* text-align: center; */
    font-size: 15px;
    padding: 15px;
    
}

button{
    background-color: rgba(82, 184, 179, 0.8);
    height: 30px;
    width: 80px;
    font-style: italic;
    font-weight: bold;
}
.unordered{
    padding-left:1%;
    text-align: justify;
}
/* START NAVBAR */
nav {
    background: rgba(82, 184, 179, 0.8);
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    top: 15px;
    height: 10vh; 
    align-items: center;
    padding: 32px; 
}
  
/* nav::after {
    content: '';
    display: table;
    clear: both;
} */

.flex-header{
    flex-wrap: wrap;
    height: auto;
    font-weight: bold;
}
nav a{
    /* display: inline-block; */
    /* margin-right: 70px; */
    padding-top: 25px;
    
    position: relative;
}
/* Above sets the positon of the hover bar */
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

nav a:hover{
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 15%;
    width: 0%;
  
    /* transition: all ease-in-out 300ms; */
}
  
nav a:hover::before {
    width: 100%;
    transition: all ease-in-out 300ms;
}
/* END NAVBAR DISPLAY */

body{
    margin: 10px;
    padding: 5px;
}
.foot {
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: auto;
    color: rgb(11, 11, 58);
    text-align: center;
    /* background-color: rgb(27, 174, 223); */
    background-color: rgba(27, 174, 223, 0.5);
    padding: 15px;
    
}
.foot a{
    color: black;
    margin: 0 10px;
    font-size: 35px;
}

.flexcontainer {
    display: block;
    font-weight: bold;
}
form {
    overflow: hidden;
    max-width: 600px;
    margin: 64px auto;
  }
  label{
      width: 70vw;
      float:left;
  }
  input {
    width: 90vw;
    float:left;
  }
  #text{
    box-sizing: border-box;

    width: 100%;
    }

.skills{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 80vh;
    max-width: fit-content;
    padding-top: 15px;
}
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    height: 80vh;
    max-width: fit-content;
    padding-top: 15px;
    }

    .workexp{
        color: rgb(61, 61, 170);
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        height: 8vh;
        padding-top: 20px;

    }
/* } */
@media only screen and (min-width: 600px) {
    /* DESKTOP */
    .flexcontainer{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .container {
       
        grid-template-columns: auto auto;
       
        }
        .skills{
            
            grid-template-columns: auto auto;
          }
    }
  @media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}